input:focus {
  border-bottom: 1px solid #2196f3 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important;
}

label.active {
  color: #2196f3 !important;
}

.datepicker-date-display {
 background-color: #2196f3 !important;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
 color: #2196f3 !important;
}

.datepicker-table td.is-today {
 color: #2196f3  !important;
}

ul.dropdown-content.select-dropdown li span {
    color: #2196f3;
}

.datepicker-table td.is-selected {
 background-color: #bdbdbd !important;
 color: #fff;
}

h5 {
  color: #2196f3;
}