  <h4 class="center-align blue-text">Generated Data</h4>
  <table id="table" class="display center-align">
    <thead>
      <tr>
        <th>#</th>
        <th data-sortable="true">Time</th>
        <th data-sortable="true">Genre</th>
        <th data-sortable="true">Price</th>
        <th data-sortable="true">Pages</th>
      </tr>
    </thead>
    <tbody>
      {% for record in page_obj %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{record.time_data}}</td>
            <td>{{record.genre_data}}</td>
            <td>{{record.price_data}}</td>
            <td>{{record.pages_data}}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="row center-align">
    <div class="col s12">
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="waves-effect">
            <a href="?page=1"><i class="material-icons">first_page</i></a>
          </li>
          <li class="waves-effect">
            <a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a>
          </li>
        {% endif %}

        <li class="disabled">
          <a href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
        </li>

        {% if page_obj.has_next %}
          <li class="waves-effect">
            <a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a>
          </li>
          <li class="waves-effect">
            <a href="?page={{ page_obj.paginator.num_pages }}"><i class="material-icons">last_page</i></a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>