 <div class="valign-wrapper" style="height: 80vh;">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h1 class="blue-text">Welcome, {{ user.username }}!</h1>
        <p>Explore the amazing features of our platform.</p>
      </div>
    </div>


    <div class="row">
      <div class="col s12 center-align">
        <a href="/playground" class="btn-large waves-effect waves-light blue">Go to Playground</a>
        <a href="/about" class="btn-large waves-effect waves-light blue">Learn About Us</a>
      </div>
    </div>
  </div>
</div>