{% extends "index.html" %}

{% block content %}
<div class="valign-wrapper">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="center-align blue-text">About Us</h2>
        <h5 class="center-align section">Who we are?</h5>
        <p>
          We are a team of passionate developers who love building amazing projects and
          exploring new technologies. Our mission is to create innovative solutions that cater to the needs of
          our clients and help them achieve their goals. With expertise in data analytics, software engineering,
          and DevOps, we are committed to delivering high-quality products and services.
        </p>
        <p class="blue-text center-align">
          Together, let's shape the future of technology!
        </p>
      </div>
    </div>
  </div>
</div>

<div class="valign-wrapper">
  <div class="container">
    <h5 class="center-align section">Services</h5>
    <div class="row">
      <div class="col s12 m4">
        <div class="card blue darken-1 white-text">
          <div class="card-content">
            <span class="card-title">Data Analytics</span>
            <p>Our team specializes in data analytics, providing valuable insights from complex datasets to drive informed decisions.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card blue darken-1 white-text">
          <div class="card-content">
            <span class="card-title">Software Engineering</span>
            <p>We excel in software engineering, building robust and scalable applications to meet your business needs.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card blue darken-1 white-text">
          <div class="card-content">
            <span class="card-title">DevOps</span>
            <p>With our DevOps expertise, we optimize your development and deployment processes for faster and smoother delivery.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="valign-wrapper">
  <div class="container">
    <h5 class="center-align section">Contact us</h5>
    <div class="row center-align">
      <div class="col s12">
        <a href="mailto:kadricze@gmail.com" class="btn-floating btn-large blue" title="Email">
          <i class="material-icons">email</i>
        </a>
        <a href="https://github.com/mehmedkadric" class="btn-floating btn-large blue" target="_blank" title="GitHub">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/mehmed-kadric-b31b1386/" class="btn-floating btn-large blue" target="_blank" title="LinkedIn">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
